@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../assets/background-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #2c3e50 !important;
}

.heading-main {
  color: #fb8688;
  font-weight: 600;
}

.main-div-first {
  margin-top: 40vh;
}

.sign-btn:hover {
  color: #fff;
  background-color: #fb8688;
}

.sign-out-btn {
  color: #fff;
  background-color: #fb8688;
}

.sign-out-btn:hover {
  color: #3f0001;
  background-color: #fb8688ce;
}

.main-user-details {
  margin-top: 25vh;
}

.loader-image {
  margin-top: 40vh;
  text-align: center;
}

#user-details {
  display: none;
}

.text-align-l {
  text-align: left;
}

.text-align-r {
  text-align: right;
  right: 0;
}

.avt-img {
  border-radius: 50%;
  border: 2px solid #fb8688;
}

.text-vertical {
  margin-top: auto;
  margin-bottom: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  /* color: #000000; */
  text-decoration: none !important;
}

footer a:hover {
  /* color: #000000dc; */
  text-decoration: none !important;
}

#bio-cover {
  color: #ffffff;
}

.edit-cover {
  background-color: #000000ea;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  z-index: 999;
}

.bio-form {
  margin-top: 30vh;
}

.bio-main--edit {
  height: 100%;
  width: 100%;
}

.cross-top {
  color: #ffffff;
  float: right;
  top: 20px;
}

@media only screen and (max-width: 600px) {
  .heading-main {
    font-size: 15px;
  }

  .para-main {
    font-size: 12px;
  }

  .sign-btn,
  .sign-out-btn {
    font-size: 10px;
  }

  .text-align-l,
  .text-align-r {
    text-align: center;
  }

  .usr-details {
    font-size: 12px;
  }
}
