@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.heading-main {
  font-weight: 600;
}

.main-div-first {
  margin-top: 40vh;
}

.sign-btn:hover {
  color: #fff;
  background-color: teal;
}

.sign-out-btn {
  color: #fff;
  background-color: teal;
}

.sign-out-btn:hover {
  color: rgb(36, 36, 36);
  background-color: rgba(0, 128, 128, 0.637);
}

.main-user-details {
  margin-top: 30vh;
}

.loader-image {
  margin-top: 40vh;
  text-align: center;
}

#user-details {
  display: none;
}

.text-align-l {
  text-align: left;
}

.text-align-r {
  text-align: right;
  right: 0;
}

.avt-img {
  border-radius: 50%;
}

.text-vertical {
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 600px) {
  .heading-main {
    font-size: 15px;
  }

  .para-main {
    font-size: 12px;
  }

  .sign-btn,
  .sign-out-btn {
    font-size: 10px;
  }

  .text-align-l,
  .text-align-r {
    text-align: center;
  }

  .usr-details {
    font-size: 12px;
  }
}
